body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}
header {
  background: #6200ea;
  color: #fff;
  display: flex;
  align-items: center;
}
main {
  padding: 2rem;
}
footer {
  background: lightgray;
  color: #6200ea;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
a {
  color: #6200ea;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.search-container {
  /* Center horizontally*/
  text-align: center;
}
.search-container input[type="text"] {
  width: 30%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
}
.search-container button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #6200ea;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.search-container button:hover {
  background-color: #3700b3;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 60vh;
}

.map {
  height: 60vh;
  flex: 2;
}

.card {
  flex: 1; /* Take 1/3 of the space */
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to the card */
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  height: 60vh;
}

.card-header {
  background-color: #6200ea;
  color: #fff;
  padding: 0.5rem; /* Reduced padding */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field label {
  font-weight: bold;
}

.field input[type="text"],
.field textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.field .chip {
  display: inline-block;
  padding: 0.25rem 0.5rem; /* Reduced padding */
  background-color: #6200ea;
  color: #fff;
  border-radius: 16px;
  width: fit-content;
}

.field .rating span {
  font-size: 1.5rem;
  color: #ffb400;
}

.field .attachments {
  padding: 0.5rem;
  background-color: #f4f4f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='checkbox'] {
  width:15px;
  height:15px;
}

input[type='checkbox']:checked {
  background-color: black;
}


header button {
  background-color: #6200ea;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.add-review-btn:hover {
  background-color: grey;
}

.main-btn {
  font-size: xx-large;
  font-weight: bold;
  padding: 1rem;
}