{% extends "base_cover.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>

<link rel="stylesheet" href="{% static 'rental_reviews/style.css' %}">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
{% endblock %}


{% block content %}
<h3 style="text-align: center; margin-top: 0; margin-bottom: 25px; font-weight:600;">Explore shocking experiences from tenants around Australia</h3>
<div class="search-container">
  <input type="text" id="suburbInput" placeholder="Suburb" />
  <button onclick="searchSuburb()">Search</button>
  <div id="results"></div>
</div>


<br/>
<div class="container">
  <div id="map-container" style="flex: 2;">
    <p style="text-align: right; display: none;">
      Filter: 
      <span>
        <img src="{% static 'rental_reviews/assets/poop.png' %}" alt="Legend" width="30px" height="30px"> 1 Star
      </span>
      <input type="checkbox" id="1-star-filter" checked="true">,
      <span>
        <img src="{% static 'rental_reviews/assets/thumbs-down.png' %}" alt="Legend" width="30px" height="30px"> 2 Star
      </span>
      <input type="checkbox" id="2-star-filter" checked="true">,
      <span>
        <img src="{% static 'rental_reviews/assets/neutral.png' %}" alt="Legend" width="30px" height="30px"> 3 Star
      </span>
      <input type="checkbox" id="3-star-filter" checked="true">,
      <span>
        <img src="{% static 'rental_reviews/assets/thumbs-up.png' %}" alt="Legend" width="30px" height="30px"> 4 Star
      </span>
      <input type="checkbox" id="4-star-filter" checked="true">,
      <span>
        <img src="{% static 'rental_reviews/assets/star.png' %}" alt="Legend" width="30px" height="30px"> 5 Star
      </span>
      <input type="checkbox" id="5-star-filter" checked="true">
    </p>
    <div id="map" class="map"></div>
  </div>
  
  <div class="card" style="display: none;">
    <header class="card-header">
      <div class="property-title">
        <h2 style="margin: 0;">-</h2>
      </div>
    </header>
    <div class="card-body">
      <div class="field">
        <label>Suburb</label>
        <input type="text" value="" disabled>
      </div>
      <div class="field">
        <label>State/City</label>
        <span class="chip"></span>
      </div>
      <div class="field">
        <label>Rating</label>
        <div class="rating">
          <span style="display:none">⭐</span>
          <span style="display:none">⭐</span>
          <span style="display:none">⭐</span>
          <span style="display:none">⭐</span>
          <span style="display:none">⭐</span>
        </div>
      </div>
      <div class="field">
        <label>Images</label>
        <div class="attachments">No attachments</div>
      </div>
      <div class="field">
        <label>Review</label>
        <textarea readonly rows="8">
        </textarea>
      </div>
    </div>
  </div>
</div>

{% if toast %}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bad Rentals</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ toast}}
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{% static 'rental_reviews/index.js' %}"></script>
{% endblock %}